<%- include('./partials/head')%>

  <h1>Home Page</h1>
  <h3>
    <%= 'hello world' .toUpperCase()%>
  </h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus autem
    laboriosam pariatur atque dolorem assumenda, dolor quam aspernatur minima
    optio?
  </p>

  <%- include('./partials/footer')%>